# Unity 临时文件
/[Ll]ibrary/
/[Tt]emp/
/[Oo]bj/
/[Bb]uild/
/[Bb]uilds/
/[Ll]ogs/
/[Mm]emoryCaptures/

# 忽略付费插件 Sirenix （Odin Inspector只是对编辑器的增强）
[Aa]ssets/Plugins
[Aa]ssets/Plugins.meta

# 自动生成的文件
*.csproj
*.userprefs
*.pidb
*.booproj
*.svd
*.pdb
*.opendb
*.VC.db

# 资源缓存
[Aa]ssets/AssetStoreTools*
[Pp]ackages/packages-lock.json

# 异常日志
crashlytics-build.properties

# Mac 文件
.DS_Store